@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

/* root */
:root {
  --bs-body-font-family: "Mulish", sans-serif !important;
}

/* body */
body {
  font-family: "Mulish", sans-serif !important;
}

/* dashboard navs */
.center-navbar {
  text-align: center;
}

/* toast classes */
.toast-class {
  border-radius: 5px !important;
  padding: 2px !important;
  min-height: 35px !important;
}

.toast-body-class {}

/* layout */
.aqua-footer {
  border-style: none;
}

.aqua-footer-pad {
  padding: 3px;
}

.layout-height {
  min-height: 300px;
}

.AQ-carousel {
  border-radius: 10px;
}


.AQ-card:hover {
  transform: scale(1.1);
}

.AQ-card {
  transition: transform 0.5s;
  text-align: left !important;
}

.aq-home-carousel {
  bottom: 2rem !important;
  right: 20rem !important;
}

.aq-offer-card {
  height: 180px;
}



.aq-welcome-card {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.aq-coupon-card {
  background: #780206;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}





/* shop */

.aq-mobile-filters {
  display: none;
  background: #000;
  height: 50px;
  text-align: center;
  color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


@media screen and (max-width:480px) {
  .aq-mobile-filters {
    display: block !important;
  }

  .aq-shop-filters {
    display: none;
  }
}


.aq-cart-page-title {
  font-weight: bold !important;
}

.aq-text-decorate {
  text-decoration: none !important;
}

.aq-auth-margin {
  margin-bottom: 280px;
}

.aq-login-page {
  width: 700px;
}


.login-hr {
  border: none;
  border-top: 3px double #0f0c29;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.login-hr:after {
  background: #fff;
  content: 'OR';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.aq-category-scroll-card {
  height: 65px;
}


.aq-image {
  height: 350px;
}