@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

/* root */

/* body */
body{
  font-family: "Mulish";
}
/* layout */
.aqua-footer{
  border-style: none;
}
.aqua-footer-pad{
  padding: 3px;
}

.AQ-carousel{
  border-radius: 10px;
}


.AQ-card:hover {
  transform: scale(1.1);
}
.AQ-card {
  transition: transform 0.5s;
}



